/*
	Weight axis: 100 – 700
	Width axis: 85 – 100
*/
@font-face {
	font-family: "IBM Plex Sans Roman";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}


* {
	box-sizing: border-box;
}


/* allgemein */

html {
	width:100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
	font-family: "IBM Plex Sans Roman", sans-serif;
	cursor: crosshair;
}


body {
	font-family: "IBM Plex Sans Roman", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
}

a {
	cursor: crosshair;
}

h1 {
	font-weight: 100;
	font-size: 10vw;
	line-height: 10vw;
	color: white;
	margin: 0;
	padding: 0;
	font-variation-settings: 'wght' 100, 'wdth' 85;
}

h1 .char {
	--delay: calc((var(--char-index) + 1) * 400ms);
	animation: breathe 4000ms infinite both;
	animation-delay: var(--delay);
}

h1:hover span {
	animation-play-state: paused;
}

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
		font-size: 10vw;
	}
	60% {
		font-variation-settings: 'wght' 700, 'wdth' 100;
		font-size: 11vw;
	}

	100% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
		font-size: 10vw;
	}
}


b {
	font-weight: 800;
}


h2-hallo {
	margin: 0;
	padding: 0;
	font-variation-settings: 'wght' 100, 'wdth' 85;
	font-size: 74px;
	font-weight: 100;
	background:linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	height: 100%;
	font-weight: 300;
	font-size: 105px;
	color: #DCEDC8;
	margin: 0;
	padding: 0;
	font-variation-settings: 'wght' 100, 'wdth' 85;
}

h2 .char {
	/*--delay: calc((var(--char-index) + 1 ) * 600ms);*/
	animation: breathe 3000ms infinite both;
	animation-delay: var(--delay);
}

h3 {
	font-weight: 100;
	/*font-size: 10vw;*/
	/*line-height: 3vw;*/
	color: #DCEDC8;
	margin: 0;
	padding: 0;
	font-variation-settings: 'wght' 200, 'wdth' 85;

}

h4 {
	font-weight: 100;
	font-size: 4.5vw;
	line-height: 3vw;
	color: #eac1c1;
	text-align: left;
	margin: 0;
	padding: 0;
	transform: rotate(-90deg);
}


h5-zurich {
	font-weight: 100;
	font-size: 40px;
	color: white;
	height: 20px;
	/*margin: 0;*/
	padding: 0;
	background: linear-gradient(10deg, RoyalBlue 50%, white 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-variation-settings: 'wght' 100, 'wdth' 85;

}


/*
background: linear-gradient(170deg, #ffffff 0%,#ffffff 50%,#0560ff 51%,#0560ff 100%);
*/

/* Grid */
.wrapper-oben {
	width: 100%;
	height:auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px;  */
  /* grid-auto-rows: minmax(100px, auto); */
	position: absolute;
	top: 7vh;
	left: 0;
	right: 20;
}


.wrapper {
	width: 100%;
	height:auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px;  */
  /* grid-auto-rows: minmax(100px, auto); */
	position: absolute;
	top: 20vh;
	left: 0;
	right: 20;
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.two_middle {
  grid-column: 2 / 4;
  grid-row: 3 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
	height: 50px;
  grid-column: 2;
  grid-row: 4;
}

.five0 {
  grid-column: 2;
  grid-row: 1;
}

.five-1 {
  grid-column: 2;
  grid-row: 5;
	text-align: center;
	margin: 0;
	padding: 0;
}
.five-2 {
  grid-column: 2;
  grid-row: 6;
	text-align: center;
	margin: 0;
	padding: 0;
}

.five-3 {
  grid-column: 2;
  grid-row: 7;
	text-align: center;
	margin: 0;
	padding: 0;
}

.five-4 {
  grid-column: 2;
  grid-row: 8;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 48px;
}

.five-5 {
  grid-column: 2;
  grid-row: 8;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 50px;
}


.six {
  grid-column: 3;
  grid-row: 4;
}

.seven {
	grid-column: 1 / 3;
	grid-row: 5;
}




/* menu icon */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap');

.menu {
  display: inline-block;
  position: absolute;
  width: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family:'Josefin Sans', sans-serif;
  color: #fff;
  cursor: crosshair;
}
.menu::before,
.menu::after {
  position: absolute;
  transition: 0.8s ease;
  opacity: 0;
  pointer-events: none;
}
.menu:before {
  content: "M \00a0 \00a0 \00a0 \00a0 \00a0U";
  top: -60px;
  left: -110%;
  width: 215px;
}
.menu:after {
  content: "N";
  top: 30px;
  left: 80%;
}
.menu:hover::before,
.menu:hover::after {
  top: -2.3px;
  opacity: 1;
  transition: 0.6s ease, opacity 0.17s 0.03s ease-in;
}

.bar {
  width: 50%;
  height: 1px;
  background: white;
  margin: 0 auto 10px;
  transition: transform 0.4s ease;
}

/*.menu:hover .bar {*/
/*  transform: rotate(-10deg);*/
/*}*/


/* Hintergrund */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
		background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


/* aufgezählte Liste */

/*body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #34495e;
}*/

.content {
  position: absolute;
  top: 190%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 45px;
  padding: 0;
	margin: 0;
}
/*.content__container:before {
  content: '[';
  left: 0;
}
.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}*/


.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
	margin: 0;
	padding: 0;
  /*padding-left: 110px;*/
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
